body {
	height: 100ch;
	width: 100%;
	background-image: url('./assets/pattern-bg.png');
	background-position: top;
	background-size: 100% 350px;
	background-repeat: no-repeat;
}

h1.title {
	color: white;
	text-align: center;
	margin-top: 40px;
	font-weight: 700;
	font-size: 45px;
}

div.addBar {
	display: flex;
	justify-content: center;
	align-items: center;

	input.bar {
		margin-top: 30px;
		width: 700px;
		height: 75px;
		border-radius: 20px 0 0 20px;
		border: none;

		padding: 10px 20px;
		font-size: x-large;
	}

	button.btn {
		margin-top: 30px;
		width: 70px;
		height: 75px;
		border-radius: 0 20px 20px 0;
		border: none;
		background-color: hsl(0, 0%, 17%);
		color: white;
		font-size: x-large;
		font-weight: 700;
		cursor: pointer;

		&:hover {
			background-color: hsl(0, 0%, 29%);
		}
	}
}

.infoBox {
	width: 80%;
	height: fit-content;
	background-color: white;
	border-radius: 20px;
	margin: 3rem auto;
	border: solid 1px black;

	div {
		margin: 25px auto;
		display: flex;

		hr {
			color: hsl(0, 0%, 83%);
			border-radius: 50%;
		}

		div {
			display: block;

			h4 {
				font-size: 15px;
				letter-spacing: 2px;
				color: hsl(0, 0%, 29%);
			}

			h1 {
				font-size: 32px;
				font-weight: 500;
				letter-spacing: 2px;
				color: hsl(0, 0%, 17%);
			}
		}
	}
}

#map {
	height: 100ch;
}
